<!DOCTYPE HTML><head>
<meta charset="iso-8859-1">
   <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

  {% load static %}

    <link rel="stylesheet" href="https://opensource.keycdn.com/fontawesome/4.6.3/font-awesome.min.css" integrity="sha384-Wrgq82RsEean5tP3NK3zWAemiNEXofJsTwTyHmNb/iL3dP/sZJ4+7sOld1uqYJtE" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static "css/custom.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "css/icons.css" %}" />

    
  <link href="https://fonts.googleapis.com/css?family=Lobster+Two" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Zilla+Slab+Highlight:400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Pridi" rel="stylesheet">
  <script language="JavaScript" src="/static/js/jquery.resizable.min.js"></script>
  <script src="/static/js/page_slide.js"></script>
  <script language="JavaScript" src="/static/js/fictiongen.js"></script>
  <script language="JavaScript" src="/static/js/tutorial.js" async></script>



  <title>LitGen : The Fiction Generator</title>
   
</head>
