<footer>
  <link href="https://fonts.googleapis.com/css?family=Lobster+Two" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Zilla+Slab+Highlight:400,700|Roboto" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Pridi" rel="stylesheet">
  <script language="JavaScript" src="/static/js/jquery.resizable.min.js"></script>
  <script src="/static/js/page_slide.js"></script>
  <script language="JavaScript" src="/static/js/fictiongenv2.js"></script>


</footer>