"""
This is an example file for the local settings that will need set up.

These settings should be fine for local development purposes; copy them to local_settings.py

"""

import os 

BASE_DIR = os.path.dirname(os.path.dirname(os.path.abspath(__file__)))

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.sqlite3',
        'NAME': os.path.join(BASE_DIR, 'db.sqlite3'),
    }
}

ALLOWED_HOSTS = []

#Dev
MARKOV_LOGGING = True # Enable descriptive logging to file. Disable on production as write operations are slow.
DEBUG = True
SECRET_KEY = '0l$&^@70$nmzlgs!)@us(!g0wxl6j+iseqxfqxa49@dt^-d2&e' # This is a security issue for production environments, change it !
SITE_ID = "localhost"
INTERNAL_IPS = []
STATIC_ROOT = "staticfiles"
STATIC_URL = "static/"
MEDIA_URL = "media/"
MEDIA_ROOT = "media"

UWSGI_DEVELOPMENT_MODE = False