"""
This is an example file for the local settings that will need set up.


"""

import os 

BASE_DIR = os.path.dirname(os.path.dirname(os.path.abspath(__file__)))

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.sqlite3',
        'NAME': os.path.join(BASE_DIR, 'db.sqlite3'),
    }
}

ALLOWED_HOSTS = []

#Dev
MARKOV_LOGGING = True # Enable descriptive logging to file. Disable on production as write operations are slow.
DEBUG = True
SECRET_KEY = ''