<div class="col-xs-12 generator-toolbar">
    <div class="setting col-xs-2">
        <div class="icon ex-small icon-center icon-lines" title="Number of Lines"> </div>
        <input class="form-control small-int-input" id="line-num" type="number" value="20"><br>
    </div>
    <div class="setting col-xs-2">
        <div class="icon small icon-center icon-state-size" title="State Size"> </div>
        <input class="form-control small-int-input" id="state-size" type="number" value="2"><br>
    </div>

    <div class="setting col-xs-2">
        <div class="icon ex-small icon-center icon-size" title="Paragraph size"> </div>
        <input class="form-control small-int-input"  id="paragraph-size"  type="number" value="5"><br>
    </div>
    <div class="setting col-xs-2">
        <div class="icon ex-small icon-center icon-spellcheck" title="Grammar Correction"> </div>
        <input class="checkbox" id="grammar-entry" type="checkbox"><br>
    </div>

    <div class="setting col-xs-2">
        <button class="btn btn-secondary" id="tutorial-activate">
         Tutorial Test
        </button>
    </div>
</div>