
{% load humanize %}

<div class="content  fill-height">
    <!-- <img class="logo" src="/static/images/sexy-logo.png" title="Ooh. Hot."> -->
    <div class="page-content" id="plaintext">

        <div class="setting book-tiles col-md-12">
            <div class="book-tools">
                <button class="btn btn-secondary" id="books-equaliser">
                    Equalise
                </button>
            </div>
            {% for book in books_query %}
            <div class="booktile" data-book-id={{ book.pk }} data-text-weight="100" data-text-words="{{ book.lines }}">
                <div class="booktile-details">
                    <span class="book-name">{{ book.name }}</span> <br />
                    <span class="book-lines">Words: {{ book.lines | intcomma}}</span>
                    <span class="book-power"></span>
                </div>
                <input class="book-weight" type="range" min="0" max="100">
            </div>
            {% endfor %}
            
            {% include "active_books_slider.html" %}

        </div>
        
        <button class="btn btn-primary" id="talk-button" onclick="send_log()" title="Give me text!">Generate</button>
        <div class="col-xs-12 generator-toolbar">
            <div class="setting col-md-4">
                <label>Number of Lines</label> <input class="form-control" id="line-num" type="number" value="30"><br>
            </div>
            <div class="setting col-md-4">
                <label>State Size</label> <input class="form-control" id="state-size" type="number" value="2"><br>
            </div>
            <div class="setting col-md-4">
                <label>Enable the grammar checking</label> <input class="checkbox" id="grammar-entry" type="checkbox"><br>
            </div>
        </div>
    </div>
    <div class="page-content" id="results">

        <div class="loading-notice">
            <p>The results are loading... or they might not be. I'm not really sure. But if you've pressed the right buttons something should come up eventually.</p>
        </div>
        <div class="response-field-wrap">

            <div class="response-field response-text container">
                <div class="close-text"></div>
                <p></p>
            </div>
        </div>
    </div>