<!-- Header -->
{% include "header.html" %}
{% load bootstrap_tags %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

<link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,900,900i" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<script>

function log_format(text) {
			time =  new Date().toJSON().slice(11,19)
			return ("<br /><span class='console-time'>" + time + "</span>" + text)
		}

function get_lines() { return $('#line-num').val()  }
function get_statesize() { return $('#state-size').val()  }
function get_url() { return $('#url-entry').val()  }
function get_grammar_kit() { 
	if ($('#grammar-entry').is(":checked"))
	{return 1; } else { return 0;}}




function testJSON() {
  // Testing the JSON object as a method of sending the post request. this will change the data to be in the request body
     $.ajax({
        url: '/mk/processjson/',
        type: 'POST',
        data: { json: JSON.stringify({
            name:"Bob"
        })},
        dataType: 'json'
    }, function (data) {alert(data)});
}


function send_log(query) {

					$.post('/mk/process/', { 
						marktext: escape(query) ,
					 	stateSize: get_statesize() ,
					 	lines: get_lines(), 
					 	books: "stub",
					 	grammar : get_grammar_kit(),
					 	csrfmiddlewaretoken: "{{ csrf_token }}"}, function (data) {
					$( ".response-field p" ).html(log_format(data));
					});
					openTab(window.event, 'results');
				 };

</script>
<div id="main-container" >
<div class="content container fill-height">
<img class="logo" src="/static/images/sexy-logo.png" title="Ooh. Hot."></img>
<h3 class="main-title">Fictional</h3>

<ul class="header-menu">
<li><a href="javascript:void(0)">Fiction Gen</a></li>
<li><a href="javascript:void(0)" >Results</a></li>
</ul>


<div class="container">
	{% for book in books %}
	<div class="col-md-4">{{ book.name }}</div>
	<div class="col-md-4">Book 2</div>
	<div class="col-md-4">Book 3</div>
	<div class="col-md-4">Book 4</div>
	{% endfor %}
</div>

</div>
</div>
<!-- Footer -->



<!-- Oh noes! He's put all his scripts in the page! noooo.... -->