<div id="ds-parent">
<div class="ds-container">
  <div id="section-intro" class="section">
    <h1 class="heading-large">Beautiful, Senseless, Fiction</h1>
    <p class="description-large">Launch your creative streak with some fresh and insane inspiration. Or just to laugh at.</p>
    <div class="row">
      <div class="instructions row">
        <ul>
          <li><span class="icon large icon-upload"></span> Select a source or upload your own</li>
          <li><span class="icon large icon-knobs"></span> Twiddle with the settings and sliders... if you like!</li>
          <li><span class="icon large icon-gears"></span> Hit <span class="create-button disabled">Create</span> and wait a moment </li>


        </ul>
      </div>

      <div class="row">
        <span class="intro-button-wrap align-middle"><button class="btn btn-primary intro-button">Okay!</button></span>
      </div>
    </div>
  </div>



  <div class="section">Some section</div>
  <div class="section">Some section</div>
  <div class="section">Some section</div>
</div>
</div>

<script>

  var slide = new DoSlide('.ds-container', {/* configurations */})
</script>

