
/* ----------------------------------------------------------------------------------------------------
  General
/* ----------------------------------------------------------------------------------------------------*/

html body {
  color:white;
  height: 100vh;
  width:100vw;
  overflow-x:none;
}

* {
  box-sizing:border-box;
}

header {
  background-color:#FBBC09;
  position:fixed;
  top:0;
  width:100%;
  z-index:50;
  background-color: #444341;
  border-bottom: 1px solid white;
}

body {
  background-color:#ccc;
  background-image:url("/static/images/background.png");
  background-repeat:no-repeat;
  background-position: right 0; 
  background-size: cover;
}

/* ----------------------------------------------------------------------------------------------------
  Typography
/* ----------------------------------------------------------------------------------------------------*/

h1,h2,h3,h4,h5,h6 {
    font-family:'Lobster Two';
}

label {
    font-family:'Lobster Two';
    font-size:1.2rem;
    letter-spacing:1px;
    font-weight:normal;
}

p {
    font-family: 'Roboto';
    font-weight: lighter;
    font-size: 1.2rem;
    color:white;
}

body > div {
    font-size:18px !important; /* ATTen */
}

/* books */
.book-name { 
    font-size: 1rem;
}
.book-lines{
  font-size:1.2rem;
}

.center { text-align:center;}



/* Help dialogues */

.popup h2 {
  font-family: 'Roboto';
  margin-top:0;
  font-size:1.5rem;
}

.popup .content {
  font-family: 'Roboto';
  font-size:1rem;
}

#generate-button {
  font-family: 'Roboto';
  font-size:30px;
}

/* ----------------------------------------------------------------------------------------------------
  Buttons
/* ----------------------------------------------------------------------------------------------------*/

#generate-button {
  position:absolute;
  top:10px;
  right:10px;
  min-width:200px;
  max-width:500px;
  width:100%;
  max-width:200px;
}


.generator-page .generator-toolbar {
  position:absolute;
  bottom:0;
}


#books-equaliser {
  background:none;
  border: 1px solid #ffffff;
}

#books-equaliser:hover {
  color:#eee;
  background:rgba(255,255,255,0.2);
}
/*---------------------------------------------------------------------------------------------------
 Site Header
-----------------------------------------------------------------------------------------------------*/


.branding {
    padding:0.5rem 5rem;
}

#site-title {
    margin: 0 0 5px 0;
    color: white;
    font-family: "Doppio One",sans-serif !important;
    font-size: 3rem;
    letter-spacing: 1px;
}


body {
    background-color:#374252;
    color:white;
}


/* ----------------------------------------------------------------------------------------------------
  Page Slides
/* ----------------------------------------------------------------------------------------------------*/


/* General Page Settings */
#slidepage-parent {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.slidepage-container {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.slidepage-container > * {
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

.slidepage-container.inactive {
  left:100vw;
}



#main-container {
    padding:0 150px;
    margin: 0 auto;
    position:relative;

    background-size: 100%;
    background-repeat:no-repeat;
    min-height:100vh;
    padding-top:450px;
}

/* Background */




/*---------------------------------------------------------------------------------------------------
Intro
-----------------------------------------------------------------------------------------------------*/
#section-intro {
    padding: 5rem;
}
.heading-large{
    font-size:5rem;
   font-family: 'Julius Sans One', sans-serif;
}

.description-large {
    font-size:3rem;
    font-weight:bold;
    font-family: 'Zilla Slab Highlight', display;
}

.instructions {
    margin-top:-20px;
    margin-bottom:20px;
}

li {
    font-family: 'Pridi', serif;
    font-size:2.8rem;
    list-style:none;
}

.intro-button-wrap {
    display:inline-block;
    vertical-align:middle;
    margin-top: 30px;
}
.intro-button {
        font-size: 8rem;
    border-radius: 15px;
    border: 1px solid white;
    background-color: #F26419;
    padding: 0rem 5rem;
    position:relative;
    bottom:0;
    left:5rem;
}

/* Tool Tip */

#rangevalue {
  color: white;
  font-size: 10px;
  text-align: center;
  font-family: Arial, sans-serif;
  display: block;
  color: #fff;
  margin: 20px 0;
  position: relative;
  left: 44.5%;
  padding: 6px 12px;
  border: 1px solid black;
  -webkit-box-shadow: inset 0px 1px 1px 0px rgba(255, 255, 255, 0.2), 0px 2px 4px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: inset 0px 1px 1px 0px rgba(255, 255, 255, 0.2), 0px 2px 4px 0px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0px 1px 1px 0px rgba(255, 255, 255, 0.2), 0px 2px 4px 0px rgba(0, 0, 0, 0.4);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #222931), color-stop(100%, #181D21));
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  width: 18px;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
  top: -95px;
}
input[type="range"]:focus {
  outline: none;
}

.heart {
    pointer-events: none;
    opacity:0.3;
    position:fixed !important;
}

/* YOU'RE A FOOL! A FOOL FOR TRUSTING ME ! BALAHAHAHAHAA!!!! */
.percentages { margin-top:20px;}
textarea {padding:10px;}


#sitewide-header {
  background:#fff;
  height:70px;
}

#sitewide-header li {
    display: inline-block;
}

#image-toolbar {
  background:#2c2c2c;
  height:calc(100vh - 70px);
}

#image-toolbar {
  color:#fff;
  padding-top:1em;
}

#canny-sliders {
  background:#2c2c2c;
}

/* ----------------------------------------------------------------------------------------------------
  Book Tiles
/* ----------------------------------------------------------------------------------------------------*/

.book-tiles {
  margin-top:3rem;
}

.booktile {
  min-height:40px;
  min-width:40px;
  position:relative;
  display:inline-block;
  text-align:center;
  color:white;
  border-radius:50%;
  padding: 2rem;
  margin: 5px;
  border: 2px solid rgba(255, 255, 255, 0.7);
  background-color: #374252;
  cursor:pointer;
  transition:all 0.3s ease;
}

.booktile:hover {

  background:rgba(255,255,255,0.2);
}

.booktile[data-text-active] {
  background:rgba(255,255,255,0.4);
}


.book-tools {
  margin:1rem;
}

/* ----------------------------------------------------------------------------------------------------
  Sliders
/* ----------------------------------------------------------------------------------------------------*/


.book-weight {
  position: absolute;
  left: 0;
  bottom: 1rem;
}
.booktile[data-text-active] input[type="range"] {
  display:block; /* only display if active */
}

.booktile input[type="range"] {
  display:none; /* hide if inactivate */
  -webkit-appearance: none;
  background-color: #2c0f09;
  height: 10px;
  border-radius:4px;
  margin-top:10px;
  border: 1px solid #ffffff;
  background-image: -webkit-gradient(
    linear, left center, right center,
    color-stop(0%, #555), color-stop(50%, #ccc),
    color-stop(51%, #ddd),
    color-stop(100%, #fff));
}

input[type="checkbox"] {
    height: 34px;
    width:34px;
    text-align:center;
    margin:0 !important;
}


input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  position: relative;
  top: 0px;
  z-index: 1;
  width: 20px;
  height: 20px;
  cursor: pointer;
  -webkit-box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.6);
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ddd), color-stop(50%, #fff), color-stop(51%, #eee), color-stop(100%, #ddd));
}

input[type="range"]:hover ~ #rangevalue,
input[type="range"]:active ~ #rangevalue {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
  top: -75px;
}


/* ----------------------------------------------------------------------------------------------------
  Results
/* ----------------------------------------------------------------------------------------------------*/

.response-field{
    padding: 20px;
    text-align:center;
    margin:0 auto;
    max-width:800px;
    display:none;
    position:absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
    z-index:400;
}


.response-text {
      margin:0 auto;
    max-width:700px;
    letter-spacing: 1px;
    display:none;
    background: rgba(0,0,0,0.7);
    padding-top:50px;
    z-index: 5;
    height: 100vh;
    max-height: 90vh;
    margin-top: 5vh;
    overflow-y: auto !important;
}

.loading-notice {
  border-radius:15px;
  background:rgba(0,0,0,0.7);
  padding:1rem 2rem;
  position:fixed;
  top:-200px;
  left:0;
  right:0;
  max-width:500px;
  text-align:center;
  margin:0 auto;
  height: auto;
}

.close-text {
  background-color: white;
  -webkit-mask-image:url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0nMjAwJyBoZWlnaHQ9JzIwMCcgZmlsbD0iI0ZGRkZGRiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDEwMCAxMDA7IiB4bWw6c3BhY2U9InByZXNlcnZlIj48Zz48Zz48cGF0aCBkPSJNMjQuNyw2NS44YzguMi04LjIsOC4yLTIxLjQsMC0yOS42TDEyLjksMjQuNUM3LjksMzEuOCw1LDQwLjUsNSw1MHYwYzAsMTAsMy4zLDE5LjIsOC44LDI2LjdMMjQuNyw2NS44eiIvPjwvZz48Zz48cGF0aCBkPSJNMzUuMiwyNS43YzguMiw4LjIsMjEuNCw4LjIsMjkuNiwwbDExLjktMTEuOUM2OS4yLDguMyw2MCw1LDUwLDVoMGMtMTAsMC0xOS4yLDMuMy0yNi43LDguOEwzNS4yLDI1Ljd6Ii8+PC9nPjxnPjxwYXRoIGQ9Ik04Ny4xLDI0LjVMNzUuMywzNi4zYy04LjIsOC4yLTguMiwyMS40LDAsMjkuNmwxMC45LDEwLjlDOTEuNyw2OS4yLDk1LDYwLDk1LDUwdjBDOTUsNDAuNSw5Mi4xLDMxLjgsODcuMSwyNC41eiIvPjwvZz48Zz48cGF0aCBkPSJNNjQuOCw3Ni40Yy04LjItOC4yLTIxLjQtOC4yLTI5LjYsMEwyNC41LDg3LjFjNy4yLDUsMTYsNy45LDI1LjUsNy45aDBjOS41LDAsMTguMi0yLjksMjUuNS03LjlMNjQuOCw3Ni40eiIvPjwvZz48L2c+PC9zdmc+);
  mask-image:url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0nMjAwJyBoZWlnaHQ9JzIwMCcgZmlsbD0iI0ZGRkZGRiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDEwMCAxMDA7IiB4bWw6c3BhY2U9InByZXNlcnZlIj48Zz48Zz48cGF0aCBkPSJNMjQuNyw2NS44YzguMi04LjIsOC4yLTIxLjQsMC0yOS42TDEyLjksMjQuNUM3LjksMzEuOCw1LDQwLjUsNSw1MHYwYzAsMTAsMy4zLDE5LjIsOC44LDI2LjdMMjQuNyw2NS44eiIvPjwvZz48Zz48cGF0aCBkPSJNMzUuMiwyNS43YzguMiw4LjIsMjEuNCw4LjIsMjkuNiwwbDExLjktMTEuOUM2OS4yLDguMyw2MCw1LDUwLDVoMGMtMTAsMC0xOS4yLDMuMy0yNi43LDguOEwzNS4yLDI1Ljd6Ii8+PC9nPjxnPjxwYXRoIGQ9Ik04Ny4xLDI0LjVMNzUuMywzNi4zYy04LjIsOC4yLTguMiwyMS40LDAsMjkuNmwxMC45LDEwLjlDOTEuNyw2OS4yLDk1LDYwLDk1LDUwdjBDOTUsNDAuNSw5Mi4xLDMxLjgsODcuMSwyNC41eiIvPjwvZz48Zz48cGF0aCBkPSJNNjQuOCw3Ni40Yy04LjItOC4yLTIxLjQtOC4yLTI5LjYsMEwyNC41LDg3LjFjNy4yLDUsMTYsNy45LDI1LjUsNy45aDBjOS41LDAsMTguMi0yLjksMjUuNS03LjlMNjQuOCw3Ni40eiIvPjwvZz48L2c+PC9zdmc+);
  -webkit-mask-size:cover;
  position: absolute;
  top: 10px;
  right: 10px;
  height: 35px;
  width: 35px;
  background-size: cover;
  cursor:pointer;
}

.close-text:hover {
  animation:hoverpulse 2s infinite;
}

@keyframes hoverpulse {
  0% {
    background-color:white;
  }

  100% {
    background-color:#222;
  }

  0% {
    background-color:white;
  }
}


/* ----------------------------------------------------------------------------------------------------
  Help Popups
/* ----------------------------------------------------------------------------------------------------*/

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  z-index:9999;
  color:#333;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 30px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 90%;
  max-width:500px;
  position: relative;
  transition: all 5s ease-in-out;
}

